body {
    margin: auto;
    width:8em;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;

}

h2 {
    display: inline-block
}

table {
  table-layout: auto;
  width: 300px;
}

th, td {
    border: 1px solid;
  }

th {
    background-color: blue;
    color: white;

}


